<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>

    <%- include("../partials/profile-button") %>

    <h1 class="subheader">Dashboard</h1>

    <div class="car-grid">
    <% if (!carsInStock || carsInStock.length === 0) { %>
        <p>No cars currently in stock.</p>
    <% } %>

    <% carsInStock.forEach(car => { %>
        <a href="/hours/add?reg_plate=<%= encodeURIComponent(car.reg_plate) %>" class="card">
        <h3><%= car.reg_plate %></h3>
        <p><strong><%= car.make %> <%= car.model %></strong></p>
        <p>Hours Worked: <%= carHours.get(car.reg_plate) %>h</p>
        <p class="profit-loss-bar <%= car.profit_loss >= 0 ? 'profit' : 'loss' %>">£<%= car.profit_loss %></p>
        </a>

    <% }) %>
    </div>


    <table class="table-card">
        <thead>
            <tr>
                <th style="padding: 0px 0px"></th>
                <th style="width: 100vh">Task</th>
                <th style="width: 25vh">Reg Plate</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            <% if (activeTasks.length === 0) { %>
            <tr>
                <td colspan="5">No active tasks found</td>
            </tr>
            <% } %>
            
            <% activeTasks.forEach(t => { %>
            <tr>
                <td style="padding: 0px 0px">
                    <form action="/dashboard/" method="POST" class="toggle-form">
                    <input type="hidden" name="task_id" value="<%= t.task_id %>">

                    <input type="checkbox" name="active" <%= !t.active ? "checked" : "" %> onchange="this.form.submit()">
                    </form>
                </td>
                <td><%= t.task %></td>
                <td><%= t.reg_plate %></td>
                <td style="text-align: center;"><%= t.priority %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>

    <%- include("../partials/footer") %>

</body>
</html>
