<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    <%- include("partials/profile-button") %>

    <h1 class="subheader">Login</h1>

    <form action="/login" method="POST">
        <%- include("partials/field", {
            label: "Username",
            name: "username",
            type: "text",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("partials/field", {
            label: "Password",
            name: "password",
            type: "password",
            required: true,
            form_values,
            input_errors
        }) %>

        <button type="submit">Log In</button>
    </form>

    <%- include("partials/footer") %>
</body>
</html>