<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>garage-manager</title>
</head>
<body>
    <%- include("../partials/profile-button") %>

    <h1 class="subheader">Register New Shift</h1>

    <form action="/hours/add" method="POST">
        <%- include("../partials/field", {
            label: "Car Registration",
            name: "reg_plate",
            type: "text",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Start Time",
            name: "start_time",
            type: "datetime-local",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "End Time",
            name: "end_time",
            type: "datetime-local",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field-textarea", {
            label: "Notes",
            name: "notes",
            rows: 3,
            required: false,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field-textarea", {
            label: "Test",
            name: "test",
            rows: 3,
            required: false,
            form_values,
            input_errors
        }) %>

        <p class="success-message">
            <%= success_message ?? "" %>
        </p>

        <button type="submit">Add Shift</button>
    </form>

    <%- include("../partials/footer") %>
</body>
</html>