<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cars</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <%- include("../partials/profile-button") %>

    <h1 class="subheader">Add Car</h1>

    <form action="/cars/add" method="POST">
        <%- include("../partials/field", {
            label: "Car Registration",
            name: "reg_plate",
            type: "text",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Make",
            name: "make",
            type: "text",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Model",
            name: "model",
            type: "text",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Year",
            name: "year",
            type: "int",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Mileage",
            name: "mileage",
            type: "int",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Colour",
            name: "colour",
            type: "text",
            required: false,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Damage",
            name: "damage",
            type: "text",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field-textarea", {
            label: "Description",
            name: "description",
            rows: 3,
            required: false,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Status",
            name: "status",
            type: "text",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Buy Price",
            name: "buy_price",
            type: "int",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Platform",
            name: "platform",
            type: "text",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("../partials/field", {
            label: "Buy Date",
            name: "buy_date",
            type: "date",
            required: true,
            form_values,
            input_errors
        }) %>

        <p class="success-message">
            <%= success_message ?? "" %>
        </p>

        <button type="submit">Add Car</button>

    <%- include("../partials/footer") %>

</body>
</html>
