<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>

    <%- include("../partials/profile-button") %>

    <h1 class="subheader">Cars</h1>

    <div class="car-grid">

    <% cars.forEach(car => { %>
        <a href="/cars/<%= encodeURIComponent(car.reg_plate) %>"class="card">
        <h3><%= car.reg_plate %></h3>
        <p><strong><%= car.make %> <%= car.model %></strong></p>
        <p><%= car.year %> • <%= car.mileage %> miles</p>
        <p class="status <%= car.status %>"><%= car.status %></p>
        <p>Total Hours: <%= carHours.get(car.reg_plate) %>h</p>
        <p class="profit-loss-bar <%= car.profit_loss >= 0 ? 'profit' : 'loss' %>">£<%= car.profit_loss %></p>
        </a>

    <% }) %>
    </div>

    <button type="button" onclick="location.href='/cars/add'">Add Cars</button>

    <%- include("../partials/footer") %>

</body>
</html>
